.cardsearchproduct {
    margin-bottom: 20px;
}

.cardsearchproductimg {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 5px;
    object-fit: cover;
    height: 100px;
}

.cardsearchproduct a {
    text-decoration: none;
}

.rating {
    color: var(--color-blue);
    text-align: center;
    margin: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;
    overflow-wrap: break-word;
    word-break: break-all;
    width: 100%;
    font-size: 14px;
    color: var(--color-blue);
    text-align: center;
    margin: 0;
}

.price {
    font-weight: bold;
    color: var(--color-blue);
    text-align: center;
    margin: 0;
}

@media (min-width: 600px) {
    .cardsearchproductimg {
        height: 250px;
    }
}