.card-search-product {
    margin-bottom: 20px;
}

.card-search-product img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 5px;
    object-fit: cover;
    height: 100px;
}

.card-search-product a {
    text-decoration: none;
}

.card-search-product p {
    color: var(--color-blue);
    text-align: center;
    margin: 0;
}

.card-search-product .title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;
    overflow-wrap: break-word;
    word-break: break-all;
    width: 100%;
    font-size: 14px;
}

.card-search-product .price {
    font-weight: bold;
}

@media (min-width: 600px) {
    .card-search-product img {
        height: 250px;
    }
}