#Navbar {
    background-color: #dfeffb;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

#Navbardiv {
    width: 1.5rem;
}

#Image {
    width: 1.5rem;
    height: 1.5rem;
}

#Navbar span {
    color: var(--color-blue);
    font-weight: bold;
    font-size: 0.9rem;
}

#Link {

    text-decoration: none;
}


.marginbottomapp {
    height: 65.912px;
}

.nondisplay {
    display: none;
}