.cardsearchproduct {
    margin-bottom: 20px;
}

.cardsearchproduct a {
    text-decoration: none;
}

.cardsearchproduct p {
    color: var(--color-blue);
    text-align: center;
    margin: 0;
}

.cardsearchproduct img {
    border-radius: 6px;
    height: 100px;
    margin-bottom: 5px;
    object-fit: cover;
    width: 100%;
}

.cardsearchproduct .title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;
    overflow-wrap: break-word;
    word-break: break-all;
    width: 100%;
    font-size: 14px;
}

.cardsearchproduct .price {
    font-weight: bold;
    overflow-wrap: break-word;

}

#homeRating {
    font-size: .7rem;
}