#buttonContainer {
    justify-content: center !important;
}

#newProductButton {
    border: 1px solid;
    border-radius: 15px;
    border-color: var(--color-red);
    background-color: var(--color-red);
    color: white;
    font-weight: bold;
    width: 150px;
    margin: 0.5rem;
    padding: 5px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}