body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Nunito;
  src: url('../fonts/Nunito-Regular.ttf');
}

* {
  font-family: Nunito;

}

:root {
  --color-red: #DC0027;
  --color-amm: #FEDD02;
  --color-blue: #05059F;
  --color-celeste: #DFEFFB;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.infinite-scroll-component {
  overflow: hidden !important;
}

.BotonRed {
  border: 1px solid;
  border-radius: 15px;
  border-color: var(--color-red);
  background-color: var(--color-red);
  color: white;
  width: 70%;
  margin: .5rem;
  padding: 5px;
  font-size: 1rem;
  text-decoration: none;
  padding: .5rem 1rem;
}

/*-------------- Home Styles----------------- */
#home-featured {
  margin-top: 110px;
}

#title-featured {
  color: var(--color-red);
  font-size: 15px;
  margin-top: 1rem;
  font-weight: bold;
}

#home-title-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  left: 0;
  background-color: var(--color-celeste);
  z-index: -4;
}

#home-title {
  margin-bottom: 0;
  text-align: center;
  color: var(--color-red);
  margin-top: 22px;
  font-weight: bold;
}

#navbar-top-center {
  position: absolute;
  width: 100%;
  top: 36px;
  left: 0;
  z-index: -5;
}

#navbartopleft {
  position: absolute;
  width: 57.44px;
  height: auto;
  top: 30px;
  left: 0;
  z-index: -1;
}

#navbartoprighttop {
  position: absolute;
  width: 102.5px;
  top: 0;
  right: 0;
  z-index: -3;
}

#navbartoprightbot {
  position: absolute;
  width: 48.4px;
  top: 54px;
  right: 0;
  z-index: -2;
}

#Carousel {
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
}

#Carousel h3 {
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, .7);
  color: var(--color-red);
  border-radius: 10px;
  padding: 3px;
}

.carousel-indicators {
  display: none;
}

@media (min-width: 600px) {
  #Carousel {
    height: 600px;
    border-radius: 100px;
  }

  #Carousel h3 {
    margin-bottom: 600px;
  }
}

/* --------------ProductDetail ---------------*/
#IMGproduct {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  height: 250px;
  object-fit: cover;
}

#ProductCard {
  display: flex;
  flex-direction: column;

}

#GiftButtom {
  border: 1px solid;
  border-radius: 15px;
  border-color: var(--color-red);
  background-color: var(--color-red);
  color: white;
  width: 70%;
  margin: .5rem;
  padding: 5px;
  font-size: 1rem;
  text-align: center;
  text-justify: center;
  text-decoration: none;
}

#figure-imgProduct {
  position: relative
}

#figure-imgProduct button {
  background-color: transparent;
  border: 0;
}

#figure-imgProduct figcaption img {
  width: 35px;
}

#figure-imgProduct figcaption {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 14px;
}

#Gift-boton a {
  border: 1px solid;
  border-radius: 15px;
  border-color: var(--color-red);
  background-color: var(--color-red);
  color: white;
  width: 70%;
  margin: 4.5rem 0;
  padding: 5px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}

#Gift-boton {

  display: flex;
  align-items: center;
  justify-content: center;
}

#StartRating {
  height: 15px;
  margin-bottom: 8px;
}

#titleCard {
  font-weight: 900;
  color: var(--color-red);
  margin-top: 12px;
}

#DetailsProduct {
  color: #4F59BA;
}

#PriceSpan {
  font-size: 25px;
  color: #4F59BA;
  font-weight: bolder;
}

@media (min-width: 600px) {
  #IMGproduct {
    height: 500px;
  }
}