.registerFormContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#registerForm {
    background-color: var(--color-celeste);
    width: 80%;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

#msgred {
    color: red;
}

#registerForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RegisterInput {
    border: 1px solid;
    border-radius: 15px;
    border-color: var(--color-blue);
    width: 90%;
    margin: .5rem;
    padding: 7px;
    font-size: .8rem;
}

.RegisterInput:focus {
    outline: none;
    border: 1.5px solid;
    border-color: red;
}

#registerBoton {
    border: 1px solid;
    border-radius: 15px;
    border-color: var(--color-red);
    background-color: var(--color-red);
    color: white;
    width: 70%;
    margin: .5rem;
    padding: 5px;
    font-size: 1rem;
}

.elipseBlueUp {
    position: absolute;
    width: 25vw;
    height: 27vw;
    top: -3vh;
    left: 0;
    z-index: -2;
}

.elipsePinkUp {
    position: absolute;
    width: 40vw;
    height: 23vw;
    top: -7vh;
    left: 0vw;
    z-index: -1;
}

.elipseBlueDown {
    position: absolute;
    width: 27vw;
    height: 27vw;
    bottom: 0vh;
    right: 0;
    z-index: -1;
}

.elipseYellowDown {
    position: absolute;
    width: 40vw;
    height: 9vw;
    bottom: 0vh;
    right: 10vw;
    z-index: -2;
}