.registerFormContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#registerForm {
    background-color: var(--color-celeste);
    width: 80%;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

#msgred {
    color: red;
}

#registerForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registerBoton {
    border: 1px solid;
    border-radius: 15px;
    border-color: var(--color-red);
    background-color: var(--color-red);
    color: white;
    width: 70%;
    margin: .5rem;
    padding: 5px;
    font-size: 1rem;
    text-decoration: none;
}

.elipseBlueUp {
    position: absolute;
    width: 110px;
    height: 170px;
    top: -8px;
    left: 0;
    z-index: -2;
}

.elipsePinkUp {
    position: absolute;
    width: 220px;
    height: 112px;
    top: -60px;
    left: 0;
    z-index: -1;
}

.elipseBlueDown {
    position: absolute;
    width: 170px;
    height: 170px;
    bottom: 0vh;
    right: 0;
    z-index: -1;
}

.elipseYellowDown {
    position: absolute;
    width: 294px;
    height: 66px;
    bottom: 0vh;
    right: 60px;
    z-index: -2;
}